node_modules
dist
.DS_Store
*.log*
.eslintcache
.nuxt
.nitro
.env
.env.*
!.env.example
!.gitkeep

# apps-cli
apps/cli/ui

# apps-electron
apps/electron/out
apps/electron/resources/ui
apps/electron/resources/uploads

# apps-vscode
apps/vscode/res/ui
apps/vscode/src/generated


# packages-webui
packages/web-ui/.output
packages/web-ui/.data
