node_modules
dist
out
.DS_Store
*.log*

resources/ui/**
resources/uploads/**
resources/stores.json
!resources/**/.gitkeep

packages/cli/ui/**

packages/vscode/res/ui/**
packages/vscode/src/generated
packages/vscode/**.vsix